source ~/.vimrc.local

set surround
set number

inoremap jk <Esc>
vnoremap jk <Esc>
cnoremap jk <Esc>
inoremap kj <Esc>
vnoremap kj <Esc>
cnoremap kj <Esc>

inoremap zd <C-d>
cnoremap zd <C-d>
inoremap zh <C-h>
cnoremap zh <C-h>
inoremap zj <C-j>
cnoremap zj <C-j>
inoremap zn <C-n>
cnoremap zn <C-n>
inoremap zo <C-o>
cnoremap zo <C-o>
inoremap zp <C-p>
cnoremap zp <C-p>
inoremap zr <C-r>
cnoremap zr <C-r>
inoremap zt <C-t>
cnoremap zt <C-t>
inoremap zu <C-u>
cnoremap zu <C-u>
inoremap zw <C-w>
cnoremap zw <C-w>

" provide hjkl movements in Insert mode and Command-line mode via the <v> key
inoremap vh <Left>
inoremap vj <Down>
inoremap vk <Up>
inoremap vl <Right>
cnoremap vh <Left>
cnoremap vj <Down>
cnoremap vk <Up>
cnoremap vl <Right>

inoremap ;a <Esc>$a
cnoremap ;a <Esc>$a
inoremap a; <Esc>$a
cnoremap a; <Esc>$a

inoremap xb <C-Left>
cnoremap xb <C-Left>
inoremap xo <C-o>
cnoremap xo <C-o>
inoremap xr <C-r>
cnoremap xr <C-r>
inoremap xv <C-r>"
cnoremap xv <C-r>"
inoremap xw <C-w>
cnoremap xw <C-w>

nmap / /
nmap ? ?
nmap <Space> \

nnoremap \= :action EditorIncreaseFontSize<CR>
nnoremap \- :action EditorlecreaseFontSize<CR>
nnoremap \r :action ReformatCode<CR>
nnoremap <Space>w :action EditorSelectWord<CR>
nnoremap <Space>u :action EditorUnSelectWord<CR>
nnoremap <Space>h :action HideAllWindows<CR>
nnoremap <Space>c :action $Copy<CR>
nnoremap <Space>v :action $Paste<CR>
nnoremap <Space>n :next<CR>

nnoremap gb <C-b>
nnoremap gf <C-f>

nnoremap <Leader>vs :source ~/.ideavimrc<CR>

" Select all text
map <Leader>a ggVG

nnoremap U :action $Redo<CR>
nnoremap / :action Find<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>
nnoremap g/ /
nnoremap gn n
nnoremap gN N
nnoremap <leader>/ :nohls<CR>

nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>cv :action ChangeView<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>br :action ViewBreakpoints<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>oi :action OptimizeImports<cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>dc :action ChooseDebugConfiguration<cr>
nnoremap <leader>rc :action ChooseRunConfiguration<cr>
nnoremap <leader>q  :action CloseActiveTab<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>e :action GotoNextError<cr>
nnoremap <leader>E :action GotoPreviousError<cr>
